<% content_for :title, "New contact" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New contact</h1>

  <%= render "form", contact: @contact %>

  <%= render ButtonComponent.new(text: "Back to contacts", href: contacts_path, variant: :secondary, classes: "mt-2 sm:mt-0 sm:ml-2") %>
</div>
